.stat-bar-wrapper{
    margin: 0 0 10px 0;
}
.stat-bar-name {
    font-size: 1rem;
    font-family: monospace;
    margin: 0;
    color: darkgray;
}

.stat-bar-bar{
    width: 250px;
    height: 15px;
    border: 1px solid #ccc;
    border-width: 2px 2px 2px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    margin: 0;
    display: flex;
}
.stat-bar-fill {
  height: 100%;
  width: 100%;
  border-radius: 2px;
}
.stat-bar-stat {
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
    font-family: monospace;
    margin-top: 0px;
    position: absolute;
    margin-left: 112px;
}